@import url("https://fonts.googleapis.com/css?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body
{
    color: #CBC3E3;
    text-align: center;
    font-size: 25px;
    font-family: "Source Code Pro";
    background-color: #1d1919;
    background: linear-gradient(to bottom, #1d1919, black);
    height: 648px;
}

#current
{
    color: grey;
}

#space-headers
{
    color: #CBC3E3;
    text-shadow: 2px 2px 2px black;
}

#writing-space
{
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-left: 10%;
    padding-right: 10%;
}

#language-headers
{
    color:#CBC3E3;
    text-shadow: 2px 2px 2px black;
}

.top-bar
{
    margin-top: -10px;
    text-align: center;
    display: inline-block;
    width: 20%;
    color: white;
    background-color: black;
    background-size: 100%;
}

.bottom-page
{
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

a:visited 
{ 
    text-decoration: none; 
    color: white;
}

a:hover { text-decoration: none; }


a:active { text-decoration: none; }

a:link { text-decoration: none; }
