@import url("https://fonts.googleapis.com/css?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body
{
    color: #CBC3E3;
    text-align:left;
    font-size: 25px;
    font-family: "Tilt Neon";
    background-color: #1d1919;
}

#top-right
{
    color: #ef4a4a;
    margin-top: 10;
    margin-bottom: -50px;
    padding-left: 15px;
    width: 24%;
}

#sidebar
{
    color: #a6e22e;
    padding-left: 15px;
    height: 100%;
    width: 15%;
    font-family: "Source Code Pro";
    background-color: #302929;
}

#current
{
    color: grey;
}

#writing-space
{
    color: white;
    margin-left: 20%;
    text-shadow: 2px 2px 2px black;
}

#space-headers
{
    margin-top: -320px;
    margin-left: 20%;
    color:#a6e22e;
    text-shadow: 2px 2px 2px black;
}

#language-headers
{
    margin-left: 20%;
    color:#CBC3E3;
    text-shadow: 2px 2px 2px black;
}

a:visited 
{ 
    text-decoration: none; 
    color: #a6e22e;
}

a:hover { text-decoration: none; }


a:active { text-decoration: none; }

a:link { text-decoration: none; }
